<div (click)="onAddTest()" class="my-2 px-3 text-left">
  <button
    class="inline-block px-6 py-3 font-bold text-center text-white uppercase align-middle transition-all bg-transparent rounded-lg cursor-pointer leading-pro text-xs ease-soft-in shadow-soft-md bg-150 bg-gradient-to-tl from-gray-900 to-slate-800 hover:shadow-soft-xs active:opacity-85 hover:scale-102 tracking-tight-soft bg-x-25"
  >
    <i class="fas fa-plus" aria-hidden="true"> </i>&nbsp;&nbsp;Add Test
  </button>
</div>
<app-tests></app-tests>
<app-modal (onSave)="createTest($event)" [data]="testForm" [id]="'testModal'">
  <h3 header class="text-xl font-medium text-gray-900 dark:text-white">
    New Test
  </h3>

  <div content class="col-span-2 max-h-full">
    <div class="flex flex-col">
      <form
        class="w-1/2 max-w-lg mx-auto"
        [formGroup]="testForm"
      >
        <div class="flex flex-wrap -mx-3 mb-6">
          <div class="w-full md:w-full px-3 mb-6 md:mb-0">
            <label
              class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
              for="grid-first-name"
            >
              Title
            </label>
            <input
              formControlName="title"
              class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
              id="grid-first-name"
              type="text"
              placeholder="Test Name"
            />
            <!-- <p class="text-red-500 text-xs italic">Please fill out this field.</p> -->
          </div>
        </div>
        <div class="w-full md:w-full px-0 mb-6 md:mb-0">
          <label
            class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
            for="category"
          >
            Category
          </label>
          <select
            formControlName="categories"
            multiple
            id="category"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          >
            <option *ngFor="let category of categories" [ngValue]="category.domainId">{{category.title}}</option>
          </select>
        </div>

      </form>

      <ng-container class="w-1/2">
        <button
          (click)="selectQuizzes()"
          href="#"
          class="block uppercase tracking-wide text-gray-400 hover:text-purple-300 text-xl font-bold my-2 mx-auto"
        >
          Select quizzes
        </button>
        <!-- <app-table [data]="quizQuestions" [headers]="headers" [title]="'Questions'" ></app-table> -->
        <app-modal (onSave)="assignQuizzes()" [id]="'quizModal'">
          <h3 header class="text-xl font-medium text-gray-900 dark:text-white">
            Quizzes
          </h3>
          <app-table
            [actions]="quizActions"
            content
            [data]="testQuizzes"
            [headers]="quizHeaders"
            [title]="'Quizzes'"
          >
          <ng-template let-item>
            <app-checkbox [id]="item" (change)="onChecked($event)"></app-checkbox>
          </ng-template>
        </app-table>
        </app-modal>
      </ng-container>
    </div>
  </div>
</app-modal>
