<div
  class="border-black/12.5 shadow-soft-xl relative flex flex-col justify-center items-center break-words rounded-2xl border-0 border-solid bg-white bg-clip-border"
>
  <div
    class="border-black/12.5 mb-0 rounded-t-2xl border-b-0 border-solid bg-white p-6 pb-0 place-content-between"

  >
    <div class="flex flex-wrap mt-0 -mx-3">
      <div class="flex-auto p-6 px-0 pb-2">
        <div class="overflow-x-auto">
          <table
            class="items-center mb-0 align-top border-gray-200 text-slate-500"
          >
            <thead class="align-bottom">
              <tr>
                <th
                  *ngFor="let header of headers"
                  class="px-6 py-3 font-bold tracking-normal text-left uppercase align-middle bg-transparent border-b letter border-b-solid text-xxs whitespace-nowrap border-b-gray-200 text-slate-400 opacity-70"
                >
                  {{ header }}
                </th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let row of data">
                <td *ngFor="let property of row | keyvalue : originalOrder">
                  <p
                    class="mb-0 text-center leading-normal text-sm p-2 bg-transparent border-b whitespace-nowrap break-words"
                  >
                    {{ property.value }}
                  </p>
                </td>
                <td>
                  <ng-container
                    *ngTemplateOutlet="templateRef; context: getRowContext(row)"
                  ></ng-container>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
