<div class="flex gap-2 mx-2 my-2 justify-center">
   <div class="w-1/2 flex items-center justify-center">
    <div class="mx-4 w-full flex-1">
      <form [formGroup]="signUpForm" (submit)="onSignUp()">
        <div class="mb-2 p-3">
          <label
            class="block text-grey-darker text-sm font-bold mb-2"
            for="username"
          >
            Username
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker"
            id="username"
            type="text"
            placeholder="Username"
            formControlName="login"
          />
          <ng-container
            *ngIf="
              signUpForm.controls['username']?.invalid &&
              (signUpForm.controls['username']?.dirty ||
                signUpForm.controls['username']?.touched)
            "
          >
            <div
              class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 mt-2 text-red-700"
            >
              <p>Wrong username.</p>
            </div></ng-container
          >
        </div>
        <div class="mb-2 p-3">
          <label
            class="block text-grey-darker text-sm font-bold mb-2"
            for="firstName"
          >
            First Name
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker"
            id="firstName"
            type="text"
            placeholder="First Name"
            formControlName="firstName"
          />
        </div>
        <div class="mb-2 p-3">
          <label
            class="block text-grey-darker text-sm font-bold mb-2"
            for="lastName"
          >
            Last Name
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker"
            id="lastName"
            type="text"
            placeholder="Last Name"
            formControlName="lastName"
          />
        </div>
        <div class="mb-2 p-3">
          <label
            class="block text-grey-darker text-sm font-bold mb-2"
            for="email"
          >
            Email
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker"
            id="email"
            type="email"
            placeholder="Email address"
            formControlName="email"
          />
          <ng-container
            *ngIf="
              signUpForm.controls['email']?.invalid &&
              (signUpForm.controls['email']?.dirty ||
                signUpForm.controls['email']?.touched)
            "
          >
            <div
              class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 mt-2 text-red-700"
            >
              <p>Wrong email.</p>
            </div></ng-container
          >
        </div>
        <div class="mb-4 p-3">
          <label
            class="block text-grey-darker text-sm font-bold mb-2"
            for="password"
          >
            Password
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker"
            id="password"
            type="password"
            placeholder="Password"
            formControlName="password"
          />
          <ng-container
            *ngIf="
              signUpForm.controls['password']?.invalid &&
              (signUpForm.controls['password']?.dirty ||
                signUpForm.controls['password']?.touched)
            "
          >
            <div
              class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 mt-2 text-red-700"
            >
              <p>
                Password needs to have at least one uppercase & special
                character & one number.
              </p>
            </div></ng-container
          >
        </div>
        <div class="mb-4 p-3">
          <label
            class="block text-grey-darker text-sm font-bold mb-2"
            for="comfirmPassword"
          >
            Confirm Password
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker"
            id="comfirmPassword"
            type="password"
            placeholder="Comfirm Password"
            formControlName="confirmPassword"
          />
          <ng-container
            *ngIf="
              signUpForm.controls['confirmPassword'].hasError('matching') &&
              signUpForm.controls['confirmPassword']?.invalid &&
              (signUpForm.controls['confirmPassword']?.dirty ||
                signUpForm.controls['confirmPassword']?.touched)
            "
          >
            <div
              class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 mt-2 text-red-700"
            >
              <p>Password don't match.</p>
            </div></ng-container
          >
        </div>
      </form>
    </div>
  </div>
</div>
