<div
  (click)="onAddUser()"
  class="flex-none w-full max-w-full px-3 my-2 text-left"
>
  <button
    class="inline-block px-6 py-3 font-bold text-center text-white uppercase align-middle transition-all bg-transparent rounded-lg cursor-pointer leading-pro text-xs ease-soft-in shadow-soft-md bg-150 bg-gradient-to-tl from-gray-900 to-slate-800 hover:shadow-soft-xs active:opacity-85 hover:scale-102 tracking-tight-soft bg-x-25"
  >
    <i class="fas fa-plus" aria-hidden="true"> </i>&nbsp;&nbsp;Add User
  </button>
</div>
<app-table [data]="users" [headers]="headers">
  <ng-template let-user="data">
    <div
      class="flex justify-center space-x-2 text-neutral-700 cursor-pointer dark:text-neutral-300"
    >
      <svg
        (click)="onUpdateUser(user)"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 576 512"
        width="15"
        height="15"
      >
        <title id="edit_title">Edit</title>
        <path
          d="M402.6 83.2l90.2 90.2c3.8 3.8 3.8 10 0 13.8L274.4 405.6l-92.8 10.3c-12.4 1.4-22.9-9.1-21.5-21.5l10.3-92.8L388.8 83.2c3.8-3.8 10-3.8 13.8 0zm162-22.9l-48.8-48.8c-15.2-15.2-39.9-15.2-55.2 0l-35.4 35.4c-3.8 3.8-3.8 10 0 13.8l90.2 90.2c3.8 3.8 10 3.8 13.8 0l35.4-35.4c15.2-15.3 15.2-40 0-55.2zM384 346.2V448H64V128h229.8c3.2 0 6.2-1.3 8.5-3.5l40-40c7.6-7.6 2.2-20.5-8.5-20.5H48C21.5 64 0 85.5 0 112v352c0 26.5 21.5 48 48 48h352c26.5 0 48-21.5 48-48V306.2c0-10.7-12.9-16-20.5-8.5l-40 40c-2.2 2.3-3.5 5.3-3.5 8.5z"
        />
      </svg>
      <svg
        (click)="onDeleteUser(user.loginId)"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 448 512"
        width="15"
        height="15"
      >
        <title id="delete_title">Delete</title>
        <path
          d="M135.2 17.7L128 32H32C14.3 32 0 46.3 0 64S14.3 96 32 96H416c17.7 0 32-14.3 32-32s-14.3-32-32-32H320l-7.2-14.3C307.4 6.8 296.3 0 284.2 0H163.8c-12.1 0-23.2 6.8-28.6 17.7zM416 128H32L53.2 467c1.6 25.3 22.6 45 47.9 45H346.9c25.3 0 46.3-19.7 47.9-45L416 128z"
        />
      </svg>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 512 512"
        width="15"
        height="15"
      >
        <title id="more_title">Plus info</title>
        <path
          d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"
        />
      </svg>
    </div>
  </ng-template>
</app-table>

<app-modal
  (onSave)="createUser($event)"
  [id]="'addUserModal'"
  [data]="signUpForm"
>
  <h3 header class="text-xl font-medium text-gray-900 dark:text-white">
    New User
  </h3>

  <div content class="col-span-2 max-h-full">
    <div class="flex flex-col">
      <div class="flex gap-2 mx-2 my-2 justify-center">
        <div class="w-1/2 flex items-center justify-start">
          <div class="mx-4 w-full flex-1">
            <form [formGroup]="signUpForm">
              <div class="mb-2 p-3">
                <label
                  class="block text-grey-darker text-sm font-bold mb-2"
                  for="username"
                >
                  Username
                </label>
                <input
                  class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker"
                  id="username"
                  type="text"
                  placeholder="Username"
                  formControlName="login"
                />
                <ng-container
                  *ngIf="
                    signUpForm.controls['username']?.invalid &&
                    (signUpForm.controls['username']?.dirty ||
                      signUpForm.controls['username']?.touched)
                  "
                >
                  <div
                    class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 mt-2 text-red-700"
                  >
                    <p>Wrong username.</p>
                  </div></ng-container
                >
              </div>
              <div class="mb-2 p-3">
                <label
                  class="block text-grey-darker text-sm font-bold mb-2"
                  for="firstName"
                >
                  First Name
                </label>
                <input
                  class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker"
                  id="firstName"
                  type="text"
                  placeholder="First Name"
                  formControlName="firstName"
                />
              </div>
              <div class="mb-2 p-3">
                <label
                  class="block text-grey-darker text-sm font-bold mb-2"
                  for="lastName"
                >
                  Last Name
                </label>
                <input
                  class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker"
                  id="lastName"
                  type="text"
                  placeholder="Last Name"
                  formControlName="lastName"
                />
              </div>
              <div class="mb-2 p-3">
                <label
                  class="block text-grey-darker text-sm font-bold mb-2"
                  for="email"
                >
                  Email
                </label>
                <input
                  class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker"
                  id="email"
                  type="email"
                  placeholder="Email address"
                  formControlName="email"
                />
                <ng-container
                  *ngIf="
                    signUpForm.controls['email']?.invalid &&
                    (signUpForm.controls['email']?.dirty ||
                      signUpForm.controls['email']?.touched)
                  "
                >
                  <div
                    class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 mt-2 text-red-700"
                  >
                    <p>Wrong email.</p>
                  </div></ng-container
                >
              </div>
              <div class="mb-4 p-3">
                <label
                  class="block text-grey-darker text-sm font-bold mb-2"
                  for="password"
                >
                  Password
                </label>
                <input
                  class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker"
                  id="password"
                  type="password"
                  placeholder="Password"
                  formControlName="password"
                />
                <ng-container
                  *ngIf="
                    signUpForm.controls['password']?.invalid &&
                    (signUpForm.controls['password']?.dirty ||
                      signUpForm.controls['password']?.touched)
                  "
                >
                  <div
                    class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 mt-2 text-red-700"
                  >
                    <p>
                      Password needs to have at least one uppercase & special
                      character & one number.
                    </p>
                  </div></ng-container
                >
              </div>
              <div class="mb-4 p-3">
                <label
                  class="block text-grey-darker text-sm font-bold mb-2"
                  for="comfirmPassword"
                >
                  Confirm Password
                </label>
                <input
                  class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker"
                  id="comfirmPassword"
                  type="password"
                  placeholder="Comfirm Password"
                  formControlName="confirmPassword"
                />
                <ng-container
                  *ngIf="
                    signUpForm.controls['confirmPassword'].hasError(
                      'matching'
                    ) &&
                    signUpForm.controls['confirmPassword']?.invalid &&
                    (signUpForm.controls['confirmPassword']?.dirty ||
                      signUpForm.controls['confirmPassword']?.touched)
                  "
                >
                  <div
                    class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 mt-2 text-red-700"
                  >
                    <p>Password don't match.</p>
                  </div></ng-container
                >
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-modal>
<app-modal
  (onSave)="updateUser($event)"
  [id]="'updateUserModal'"
  [data]="updateForm"
>
  <h3 header class="text-xl font-medium text-gray-900 dark:text-white">
    Update User
  </h3>

  <div content class="col-span-2 max-h-full">
    <div class="flex flex-col">
      <div class="flex gap-2 mx-2 my-2 justify-center">
        <div class="w-1/2 flex items-center justify-start">
          <div class="mx-4 w-full flex-1">
            <form [formGroup]="updateForm">
              <div class="mb-2 p-3">
                <label
                  class="block text-grey-darker text-sm font-bold mb-2"
                  for="username"
                >
                  Username
                </label>
                <input
                  class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker"
                  id="username"
                  type="text"
                  placeholder="Username"
                  formControlName="login"
                />
                <ng-container
                  *ngIf="
                    signUpForm.controls['username']?.invalid &&
                    (signUpForm.controls['username']?.dirty ||
                      signUpForm.controls['username']?.touched)
                  "
                >
                  <div
                    class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 mt-2 text-red-700"
                  >
                    <p>Wrong username.</p>
                  </div></ng-container
                >
              </div>
              <div class="mb-2 p-3">
                <label
                  class="block text-grey-darker text-sm font-bold mb-2"
                  for="firstName"
                >
                  First Name
                </label>
                <input
                  class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker"
                  id="firstName"
                  type="text"
                  placeholder="First Name"
                  formControlName="firstName"
                />
              </div>
              <div class="mb-2 p-3">
                <label
                  class="block text-grey-darker text-sm font-bold mb-2"
                  for="lastName"
                >
                  Last Name
                </label>
                <input
                  class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker"
                  id="lastName"
                  type="text"
                  placeholder="Last Name"
                  formControlName="lastName"
                />
              </div>
              <div class="mb-2 p-3">
                <label
                  class="block text-grey-darker text-sm font-bold mb-2"
                  for="email"
                >
                  Email
                </label>
                <input
                  class="shadow appearance-none border rounded w-full py-2 px-3 text-grey-darker"
                  id="email"
                  type="email"
                  placeholder="Email address"
                  formControlName="email"
                />
                <ng-container
                  *ngIf="
                    signUpForm.controls['email']?.invalid &&
                    (signUpForm.controls['email']?.dirty ||
                      signUpForm.controls['email']?.touched)
                  "
                >
                  <div
                    class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 mt-2 text-red-700"
                  >
                    <p>Wrong email.</p>
                  </div></ng-container
                >
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</app-modal>
<app-confirmation-modal   (onSave)="deleteUser($event)"></app-confirmation-modal>
